.section {
    position: relative;
    padding: 65px 0;
}
@media (max-width: 767px) {
    .section {
        padding: 2rem 0;
    }
}

.section--pt-0 {
    padding-top: 0;
}

.section--styleguide {
    padding: 25px 0;
}

img {
    border-style: none;
    height: auto;
    max-width: 100%;
}

#container {
    padding: 0 15px;
    width: 100%;
}

.multi-item-carousel {
    .carousel-inner {
        > .item {
            transition: 500ms ease-in-out left;
        }
        .active {
            &.left {
                left: -33%;
            }
            &.right {
                left: 33%;
            }
        }
        .next {
            left: 33%;
        }
        .prev {
            left: -33%;
        }
        @media all and (transform-3d), (-webkit-transform-3d) {
            > .item {
                // use your favourite prefixer here
                transition: 500ms ease-in-out left;
                transition: 500ms ease-in-out all;
                backface-visibility: visible;
                transform: none !important;
            }
        }
    }
    .carouse-control {
        &.left,
        &.right {
            background-image: none;
        }
    }
}

.twitter-typeahead {
    display: flex !important;
}

// .tt-menu {
//     display: flex !important;
// }

// .suggestion-div{
//       background-color: rgba(0, 0, 0, 0.70);
// }

.tt-menu{
    background-color: rgba(255, 255, 255) !important;
}

//https://twitter.github.io/typeahead.js/css/main.css
//https://twitter.github.io/typeahead.js/
.ProfileCard {
    position: relative;
    padding: 8px;
}

.ProfileCard-avatar {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 52px;
    height: 52px;
    border: 2px solid #ccd6dd;
    border-radius: 5px;
}

.ProfileCard:hover .ProfileCard-avatar {
    border-color: #f5f8fa;
}

.ProfileCard-details {
    min-height: 60px;
    padding-left: 60px;
    padding-top: 20px;
    font-weight: 700;
}

.ProfileCard-realName,
.ProfileCard-screenName {
    display: inline-block;
}

.ProfileCard-realName {
    font-weight: 700;
}

.ProfileCard-screenName {
    color: #8899a6;
}

.ProfileCard-description {
    margin-top: 5px;
    font-size: 14px;
    line-height: 18px;
}
