/* SECTION */
.section {
    position: relative;
    padding: 65px 0;
}
@media (max-width: 767px) {
    .section {
        padding: 2rem 0;
    }
}

.section--pt-0 {
    padding-top: 0;
}

.section--styleguide {
    padding: 25px 0;
}

img {
    border-style: none;
    height: auto;
    max-width: 100%;
}

#container {
    padding: 0 15px;
    width: 100%;
}

.multi-item-carousel {
    .carousel-inner {
        > .item {
            transition: 500ms ease-in-out left;
        }
        .active {
            &.left {
                left: -33%;
            }
            &.right {
                left: 33%;
            }
        }
        .next {
            left: 33%;
        }
        .prev {
            left: -33%;
        }
        @media all and (transform-3d), (-webkit-transform-3d) {
            > .item {
                // use your favourite prefixer here
                transition: 500ms ease-in-out left;
                transition: 500ms ease-in-out all;
                backface-visibility: visible;
                transform: none !important;
            }
        }
    }
    .carouse-control {
        &.left,
        &.right {
            background-image: none;
        }
    }
}