// /* the slides */
// .slick-slide {
//     margin: 0 10px;
// }
// .slick-slider {
//     margin: 0 10px;
// }
// /* the parent */
// .slick-list {
//     margin: 0 -10px;
// }


// Add spacing between images
.slick-slide {
    margin: 0 5px;
  }
  
  // Fix external margins
  .slick-list {
    margin: 0 -5px;
  }
  .slick-slider {
    overflow: hidden;
  }
  
  // Move arrows on top of images
  .slick-prev {
    left: 50px;
    z-index: 1;
  }
  .slick-next {
    right: 50px;
  }

  .menu-image{

    border-radius: 4px; 
    width: 100%; 
    height: 5vw; 
    object-fit: cover;
  }

  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 16px;
    }
  }

//   .my-slide{

//     margin-left: 6px;
//   }