body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
}

.Contact-Form {
    margin-top: 100px;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.Contact-Form h1 {
    font-size: 33px;
    line-height: 10px;
}

.Contact-Form h2 {
    font-size: 30px;
}
form {
    margin-top: 50px;
    transition: all 4x ease-in-out;
}
.form-control {
    widows: 500px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: 18px;
    margin-bottom: 16px;
}
input {
    height: 45px;
}
form .submit {
    background-color: rgb(162, 194, 231);
    border-color: transparent;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    height: 50px;
    margin-top: 20px;
}

form.submit:hover {
    cursor: pointer;
}

.myform {
    margin-right: 50px;
}

.wrapper {
    margin-left: 30%;
}
