.carousel-caption {
  position: relative;
  left: 0 !important;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

/*
Forces image to be 100% width and not max width of 100%
*/

.carousel-item .img-fluid {
  width: 100%;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  transition: 0.4s ease-in-out left;
}

@media only screen and (max-width: 576px) {
  .carousel-caption h5 {
    font-size: 1rem;
  }
}

